{% extends 'app/base.html'  %}
{% load static %}
{% block js  %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });


</script>
{% endblock js %}
{% block css  %}
<link href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css" rel="stylesheet">
{% endblock css %}


{% block contenido%}
<div class="slider" style="height: 263.25px; ">
    <div style="width:100%;">
        <img style="width:100%;" alt="" src="{% static 'app/img/banner/banner1.jpg' %}" >
    </div>
    <div style="width:100%;">
        <img style="width:100%;     height: 34rem;" alt="" src="{% static 'app/img/banner/banner2.png' %}" >
    </div>


</div>
{% load humanize %}
<h2>Productos</h2>
<div class="productos">
    {% for producto in productos %}
     <div class="producto">

        <div class="contenedor_producto">
            {% if producto.imagen %}
            <img alt="imagen producto" src="{{producto.imagen.url}}">
            {% endif %}
            <div class="detalle">
                <h5 class="textoCard">{{producto.marca | capfirst}}</h5>
                <h2 class="textoCard">{{producto.nombre | title}}</h2>
                <h3 class="textoCard">{{producto.precio | intcomma}}</h3>
            </div>

        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}

